<%= form_with(model: convert, local: true) do |form| %>
  <% if convert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(convert.errors.count, "error") %> prohibited this convert from being saved:</h2>

      <ul>
      <% convert.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
